*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
    display:inline-block;
    text-transform: capitalize;
}





/* HEADER */

header{
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .header-background{
    padding: 10px 25px 10px 25px;
    border-radius:12px 0 12px 0;
}
.header_contact{
    position: absolute;
    top: 18px;
    right: 208px;
}



/* BANNER */

.banner{
    background-image:url(../assets/images/bannner.png);
    background-position: center;
    background-size:cover;
    min-height: 994px;
    width: 100%;
    padding-top: 200px;
}


.banner-content h1{
    width: 736px;
    font-weight: 600;
    line-height: 76.8px;
}
.banner-content p {
    width: 693px;
}
.banner-content a {
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    border-radius: 1px 50px 1px 50px;
}

.banner-content .icon-circle{
    margin-top:40px;
    width: 80px;
}
.banner-contact{
    position: absolute;
    top: 48px;
    left: 152px;
}


/* about us */

.about-item{
    margin: 0 45px 0 35px;
}
.about-item h1{
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
    margin-top: 75px;
}
.about-item img:fast-child{
    margin: 5px 0 25px 0;
}
.about-item h2{
    color: #333333;
    font-size: 40px;
    line-height: 51.2px;
}
.about-item p{
    color: #7F7F7F;
    margin: 10px 0 25px 0;
}
.about-us .about .about-eye{
    background-image: url(/assets/images/box-about.png);
    background-size: cover;
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box{
    box-shadow: 0px 0px 35px 0px #0000000D;
    padding-bottom:15px;
    margin: 190px 170px 0 0 ;
}

.about-us .about1 .about-eye1{
    background-image: url(/assets/images/box-about.png);
    background-size: cover;
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-box1{
    box-shadow: 0px 0px 35px 0px #0000000D;
    margin-top: 50px;
    margin-left: 175px;
    padding-bottom: 15px;
}


/* How-It_Work */

.how-it-work{
    background-color: #F8F5F0;
}
.how-it-work h1{
    font-size: 40px;
    line-height: 51.2px;
    color: #3E7736;
}