* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
}

.w-42 {
    width: 42%;
}

.w-58 {
    width: 58%;
}





/* HEADER */

header {
    margin-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header .header-background {
    padding: 10px 25px 10px 25px;
    border-radius: 12px 0 12px 0;
}

.header_contact {
    position: absolute;
    top: 18px;
    right: 208px;
}



/* BANNER */

.banner {
    background-image: url(/assets/images/bannner.png);
    background-position: center;
    background-size: cover;
    min-height: 994px;
    width: 100%;
    padding-top: 200px;
}


.banner-content h1 {
    width: 736px;
    font-weight: 600;
    line-height: 76.8px;
}

.banner-content p {
    width: 693px;
}

.banner-content a {
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    border-radius: 1px 50px 1px 50px;
}

.banner-content .icon-circle {
    margin-top: 40px;
    width: 80px;
}

.banner-contact {
    position: absolute;
    top: 48px;
    left: 152px;
}


/* about us */

.about-item {
    margin: 0 45px 0 35px;
}

.about-item h1 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
    margin-top: 75px;
}

.about-item img:fast-child {
    margin: 5px 0 25px 0;
}

.about-item h2 {
    color: #333333;
    font-size: 40px;
    line-height: 51.2px;
}

.about-item p {
    color: #7F7F7F;
    margin: 10px 0 25px 0;
}

.about-us .about .about-eye {
    background-image: url(/assets/images/box-about.png);
    background-size: cover;
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box {
    box-shadow: 0px 0px 35px 0px #0000000D;
    padding-bottom: 15px;
    margin: 190px 170px 0 0;
}

.about-us .about1 .about-eye1 {
    background-image: url(/assets/images/box-about.png);
    background-size: cover;
    width: 150px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-box1 {
    box-shadow: 0px 0px 35px 0px #0000000D;
    margin-top: 50px;
    margin-left: 175px;
    padding-bottom: 15px;
}


/* How-It_Work */

.how-it-work {
    background-color: #F8F5F0;
}

.how-it-work h1 {
    font-size: 40px;
    line-height: 51.2px;
    color: #3E7736;
}

.how-it-work h3 {
    color: #333333;
}

.how-it-work p {
    color: #7F7F7F;
}

.how-it-work .work-item {
    box-shadow: 0 0 35px 0 #0b3d190f;
    border-radius: 20px 0 20px 0;
    padding: 25px 30px 25px 35px;
}

.how-it-work .work-no a {
    color: #3E7736;
}

.how-it-work .work-no img {
    position: absolute;
    top: 140px;
    right: 18px;
}

.work-item p {
    margin: 10px 100px 15px 0;
}



/* OUR TEAM */

.our-team {
    padding: 100px 0;
}

.our-team .team-title h1 {
    color: #3E7736;
    font-size: 40px;
    list-style: 51.2px;
}

.our-team .team-content {
    box-shadow: 0 0 35px 0 #0b3d190f;
    border-radius: 20px 0 20px 0;
}

.our-team .team-image {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 460px;
    height: 340px;
}

.our-team .team-content {
    padding-top: 160px;
    margin: 110px 25px 0 25px;
}



/* FREE TREE SOLUTION */

.free-tree {
    background-image: url(/assets/images/tree.png);
    background-size: cover;
    background-position: center;
    min-height: 630px;
    display: flex;
    align-items: center;
}

.free-tree .tree-item h1 {
    color: white;
    font-size: 60px;
    line-height: 76px;
    padding-right: 744px;
}



/* FOR A GREAT TREE */

.great-tree {
    padding: 250px 0;
}

.great-tree .tree-title h3 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.great-item {
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px 0 20px 0;
    width: 460px;
    height: 287px;
    padding: 25px 20px;
}






/* Subscribe */

.subscribe {
    background-image: url(/assets/images/footer-back.png);
    background-size: cover;
    background-position: center;
    min-height: 630px;
}

.subscribe-item {
    box-shadow: 0px 0px 35px 0px #0000000d;
    padding: 30px 0 60px 90px
}

.subscribe-title h2 {
    font-size: 40px;
    line-height: 51.2px;
    color: #3E7736;
    margin-bottom: 10px;
}

.subscribe-item .subscribe-email input {
    width: 617px;
    border: 1px solid #cdcaca66;
    border-radius: 20px 0 20px 0;
    padding: 15px 10px;
}

.subscribe-item .subscribe-email a {
    width: 617px;
    background-color: #3E7736;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 15px 10px;
    text-align: center;
    margin-top: 15px;
}


/* FOOTER */


footer {
    background-color: #0D200A;
    width: 100%;
    height: 400px;
    padding-top: 70px;
}

footer .footer-item .footer-image {
    font-size: 30.22px;
    line-height: 38.68px;
    color: #FFFFFF;
}

footer .link h3 {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 38.4px;
}

footer .link ul li a {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21.6px;
}

footer .line img {
    width: 100%;
    margin-top: 40px;

}

footer .copyright p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 20px;

}














/* ABOUT US PAGE */


/* Banner */

.about-banner {
    background-image: url(/assets/images/about-image/about-banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 746px;
    padding-top: 300px;
}

.about-title {
    font-size: 60px;
    line-height: 76.8px;
    color: white;
}




/* about us */


.about-page {
    padding: 100px 0;
}

.about-page .image2 {
    position: absolute;
    top: 160px;
    left: 393px;
}

.about-content h1 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.about-content h3 {
    color: #333333;
    font-size: 40px;
    line-height: 51.2px;
    margin-top: 20px;

}




/* VISION AND MISSION */

.vision-item .vision-image {
    display: flex;
    align-items: center;
}

.vision-item h2 {
    color: #333333;
    font-size: 40px;
    line-height: 51.2px;
    margin-left: 20px;
}

.mission-item .mission-image {
    display: flex;
    align-items: center;
}

.mission-item h2 {
    color: #333333;
    font-size: 40px;
    line-height: 51.2px;
    margin-left: 20px;
}

.vision-mission-img1 {
    position: absolute;
    top: 0;
    right: 0;
}

.vision-mission-img2 {
    position: absolute;
    top: 130px;
    left: 57px;
}




/* Healthier Plane */


.healthier-plane {
    background-image: url(/assets/images/about-image/healthier-plane.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 685px;
    display: flex;
    align-items: center;
    margin: 150px 0;
}

.healthier-item h1 {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 76.8px;
    padding: 0 110px;
}

.healthier-plane .main-box {
    background-color: white;
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px 0 20px 0;
    width: 100%;
    height: 190px;
    position: absolute;
    left: 0;
    top: 407px;
    z-index: 99999;

}








/* how it work PAGE */


/* Banner */
.work-banner {
    background-image: url(/assets/images/how-it-work-image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 746px;
    padding-top: 300px;
}

.work-title {
    font-size: 60px;
    line-height: 76.8px;
    color: white;

}



/* how it work */

.how-it {
    padding: 100px 0;
}

.how-it .work-content h1 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.how-item h3 {
    color: #3E7736;
    font-size: 22px;
    line-height: 28px;
}



/* Photo Gallery */
.photo-gallery {
    padding-bottom: 100px;
}

.gellery-item h2 {
    font-size: 40px;
    line-height: 51px;
    color: #3E7736;
}

.gellery-image ul li h3 {
    font-size: 40px;
    line-height: 51.2px;
    color: #FFFFFF;


}

.gellery-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 153px;
    backdrop-filter: blur(38.79999923706055px);
    text-align: center;
    padding-top: 30px;
    background: linear-gradient(90deg, rgba(11, 61, 25, 0.74) 0%, rgba(11, 61, 25, 0.12) 100%);
    border-radius: 20px 20px 20px 5px;
}


/* project-count  */


.project-count {
    background-color: #3E7736;
    height: 600px;
}

.project-item {
    background-image: url(/assets/images/how-it-work-image/background-project.png);
    width: 341px;
    height: 341px;
    padding: 40px 30px;
}

.project-item h2 {
    color: #FFFFFF;
    font-size: 60px;
    line-height: 76.8px;
}

.project-item h3 {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 38.4+px;
}



/* tree plantation */

.tree-plantations {
    padding: 100px 0;
}

.plantation-item h2 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.plantation-content .tree1,
.tree2 {
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px;
}

.plantation-content .tree1,
.tree2 h4 {
    color: #3E7736;
    font-size: 22px;
    line-height: 28px;
}












/* Imapact showcase page */


/* Banner */
.impact-banner {
    background-image: url(/assets/images/impact-showcase-image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 746px;
    padding-top: 300px;
}

.impact-title {
    font-size: 60px;
    line-height: 76.8px;
    color: white;

}




/* Map */

.map {
    padding: 100px 0;
}




/* Tree Detalis By City */


.city-detalis {
    padding-bottom: 100px;
}

.city-item {
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px;
    margin-right: 90px;
}

.city-item h2 {
    padding: 15px 0 10px 0;
}

.city-item p {
    color: #7F7F7F;
    display: flex;
    align-items: start;
}



/* FOR A GREAT TREE */

.greattree {
    padding-bottom: 250px;
}

.greattree .tree-title h3 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.great-item {
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px 0 20px 0;
    width: 460px;
    height: 287px;
    padding: 25px 20px;
}








/* Gift Options */


/* Banner */
.gift-banner {
    background-image: url(/assets/images/goft-option-image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 746px;
    padding-top: 300px;
}

.gift-title {
    font-size: 60px;
    line-height: 76.8px;
    color: white;

}



/* Nurture Nature */


.nature-nature {
    padding: 100px 0;
}

.nature-title h2 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51px;
}

.box-main {
    background-image: url(/assets/images/goft-option-image/Rectangle\ 6628.png);
}

.box1-item h3 {
    color: #3E7736;
    font-size: 22px;
    line-height: 28px;
    margin: 15px 0 7px 0
}



/* FOR A GREAT TREE */

.great-gift {
    padding-bottom: 250px;
}

.great-gift .gift-title h3 {
    color: #3E7736;
    font-size: 40px;
    line-height: 51.2px;
}

.gift-item {
    box-shadow: 0px 0px 35px 0px #0000000D;
    border-radius: 20px 0 20px 0;
    width: 460px;
    height: 287px;
    padding: 25px 20px;
}








/* Community page */


/* banner */

.community-banner {
    background-image: url(/assets/images/community-image/banner.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 746px;
    padding-top: 300px;
}

.comm-title {
    font-size: 60px;
    line-height: 76.8px;
    color: white;

}



/* Cultivating Community */

.cultivating {
    padding: 100px 0;
}

.cultivating-title h2 {
    font-size: 40px;
    line-height: 51px;
    color: #3E7736;
}

.cultivating-item h2 {
    font-size: 40px;
    line-height: 51px;
    color: #3E7736;
    padding: 10px 0 10px 17px;
}

.cultivating-item {
    background-image: url(/assets/images/community-image/box.png);
    width: 600px;
    margin-bottom: 20px;
}

.community-title {
    background-image: url(/assets/images/community-image/box.png);
    width: 600px;
    padding: 15px 22px 15px 15px;
}

.cultivating-content h4 {
    color: #7F7F7F;
    font-size: 18px;
    list-style: 21px;
}

.donation-item1 {
    background-image: url(/assets/images/community-image/community-1.png);
    width: 790px;
    height: 420px;
}
.donation-btn{
    background-color: #3E7736;
    width: 158px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 17px 0 0 17px;
    
}
.donation-btn a {
    font-size: 18px;
    color: #FFFFFF;
    line-height: 21px;
    border-radius: 5px;
}
.donation-content h2{
    color: #FFFFFF;
    position: absolute;
    bottom: 50px;
    left: 25px;
}
.donation-item2 {
    background-image: url(/assets/images/community-image/community-2.png);
    width: 790px;
    height: 420px;
    margin: 15px 0;
}
.donation-item3 {
    background-image: url(/assets/images/community-image/community-3.png);
    width: 790px;
    height: 420px;
}